body {
    background-color: #F0D9D9; /* Pastel pink */
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #C2E0FF; /* Pastel blue */
    padding: 20px;
    text-align: center;
  }
  
  /* Logo Styles */
  header img.logo {
    float: left;
    max-width: 100%;
  }
  
  /* Parallax Styles */
  .parallax {
    background: radial-gradient(circle, rgba(34,17,244,1) 0%, rgba(0,0,0,1) 29%, rgba(38,189,155,1) 36%, rgba(0,255,10,1) 51%, rgba(143,56,175,1) 70%, rgba(0,0,0,1) 80%, rgba(0,0,0,1) 95%);
    height: 100vh; /* Set height to 100% of viewport height */
    width: 100vw; /* Set width to 100% of viewport width */
  }
  
  /* Section Styles */
  section {
    padding: 50px;
    text-align: center;
    height: 100vh; /* Set height to 100% of viewport height */
    width: 100vw; /* Set width to 100% of viewport width */
  }
  
  /* Footer Styles */
  footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }